footer, header.header, .daf-image__container, .author-info {
    display:none !important;
}

.sponsorship-section {
    display:none !important;
}

.publication-action-bar.content__action-bar{
    display:none !important;
}

.topline__right{
    display: none !important;
}

.daf-image__toggle{
    margin: 5px auto !important;
}

.video-box{
    margin: 0px auto !important;
}

.content__left{
    padding: 0px !important;
}

.hide{
    display:none !important;
}

/* .post-video,
.video-box{
    padding:0px !important;
    height:88px !important;
    max-width: none;
}
*/

/* #jw, */
.jw-wrapper.jw-reset{
    position: unset !important;
}  

.jw-media.jw-reset{
    height: 360px;
    max-height:395px;
    resize:vertical;
    z-index: 1;
    position:relative;
}

.jw-slider-container.jw-reset{
    height: 5px !important;
}

.jw-jw-settings-menu{
    position: relative !important;
}


#jw{
    position:static !important
}
.jw-preview.jw-reset{
    z-index:100
}

.post-video{
    position:relative !important;
    height: auto !important;
}

.video-box{
    position:unset !important;
    height: auto !important;
    padding: 0px !important;
}

.jw-controls.jw-reset{
    position:relative !important;
    /* height: 44px; */
}

.jw-controls.jw-reset.jw-settings-open{
    z-index: 1000 !important;
    margin-top:-192px !important;
    position: relative !important;

}

#jw-jw-settings-menu{
    position:relative !important;
    top:0px !important;
    z-index:1000 !important;
}

.jw-float-bar.jw-reset{
    display:none !important;
}

.jw-controlbar.jw-reset{
    position: static !important;
}
.jw-display.jw-reset,
.jw-preview.jw-reset{
    display:none !important;
}

.jw-slider-time {
    margin-top: 10px !important;
}

.jw-video{
    /* height: 88px !important; */
}

/* .video-box,
.jw-wrapper.jw-reset
.post-video,  
#jw, 
.jw-overlays.jw-reset  */
.jw-aspect.jw-reset
{
    /* height: auto !important; */
    padding:0px !important;
} 



.preloader.video-box__preloader,
.preloader__inner{
    display:none !important;
}