div.language_toggle .co_toggle_buttons{
    background-color: white;
    top: 100px;
    z-index: 100;
    position: fixed;
    left: 464px;
}

div.co_toggle_buttons:has(label[for="CommentaryToggle_Show"]) {
    background-color: white;
    top: 100px;
    position: fixed;
    left: 620px;
  }

  div.co_toggle_buttons div.label{
    padding: 0px;
    z-index: 100;
    line-height: 1.4;
  }
  

div.language_toggle div.label {
    display:none;
}

div.language_toggle .wrapper {
    z-index: 100;
    height: 48px;

}

.co_body .date_navigation {
    position:fixed;
    top:100px;
    z-index: 100;
}

#daily_study_media_player_container{
    position:fixed;
    top:130px;
    z-index: 99;
    height: 50px;
}

.co_body.article-body.cf{
    position: relative;
    z-index:0;
}

div.video_wrapper{
    min-height: 419px !important; 
    min-width: 800px !important;
    /* position: fixed !important; */

    padding-top: 10px !important;

    &>div{
        resize: both !important;
        overflow: auto !important;
        scrollbar-width: none; 
        height: 221px;
        width: 366px;
    }
}

div.player_area {
    background: none;
    z-index:100;
    position: relalive;
}


/* timestamp functionality */
.timestamp-wrapper {
    position: relative;
    display: inline-block;
}

.timestamp-span {
    position: relative;
    margin-right: -50px;
    margin-left: 20px;
    top: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    z-index: 100;
}

/* rambam */
.r-timestamp-span {
    position: relative;
    margin-right: -100px;
    margin-left: 20px;
    top: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    z-index: 110;
}



td.hebrew .co_VerseNum, td.hebrew .co_RashiTitle,  .verse-wrapper, a.versenum{
    position:relative;
    z-index:119;
}