div.language_toggle .co_toggle_buttons{
    background-color: white;
    top: 0px;
    z-index: 130;
    position: fixed;
    right: 20px;
}

div.co_toggle_buttons:has(label[for="CommentaryToggle_Show"]) {
    top: 0px;
    position: fixed;
    right: 200px;
    z-index: 154;
    & label{
        background-color: white;
    }
  }

  div.co_toggle_buttons div.label{
    padding: 0px;
    /* z-index: 100; */
    line-height: 1.4;
  }
  

div.language_toggle div.label {
    display:none;
}

div.language_toggle .wrapper {
    z-index: 125;
    height: 48px;

}

.co_body .date_navigation {
    position:fixed;
    top:0px;
    height: 77px;
    width: 100%;
    left: 0px;
    z-index: 125;

    &>.float_right{
        float:left;
        clear:both;
        padding-left:10px;
    }
}

#daily_study_media_player_container{
    position:fixed;
    top:56.5px;
    left: 0px;
    width: 100px;
    z-index: 130;
    height: 50px;
}

/* .co_body.article-body.cf{
    position: relative;
    z-index:0;
} */

div.video_wrapper{
    /* min-height: 419px !important; 
    min-width: 800px !important; */
    /* position: fixed !important; */
    width: calc(100vw - 12px) !important;
    /* width: 100vw !important; */
    height:200px !important;
    padding-top: 10px !important;
    resize: both !important;
    overflow: auto !important;
    scrollbar-width: none; 
    z-index: 150;
    &>div{
        /* height: 221px;
        width: 366px; */
        height: 100%;
        width: 100%;
    }
}

div.player_area {
    background: none;
    /* z-index:100;
    position: relalive; */
}


/* timestamp functionality */
.timestamp-wrapper {
    position: relative;
    display: inline-block;
}

.timestamp-span {
    position: relative;
    margin-right: -50px;
    margin-left: 12px;
    top: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    z-index: 100;
}


 .r-timestamp-span {
    position: relative;
    padding: 0 10px;
    font-size: 23px;
    top: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    z-index: 110;
} 



td.hebrew .co_VerseNum, td.hebrew .co_RashiTitle,  a.versenum{
    position:relative;
    z-index:119;
}



.media{
    padding: 0px !important;
    /* margin: 15px; */
    height:0px;
    overflow: hidden;
}

 #media_list, .js-show-advanced-classes-button{
    visibility:hidden;
}

#BodyContainer{
    top: 113px;
    width: 100% !important;
}


#co_body_container{
    width: 85vw;
    margin: 0 auto;
    display: block;
    float: none;
}

#footer, .menu_wrapper, .book-info-container-margin, #co_menu_container, #header, .notice, aside.page-tools-sidebar,
#media_container .top_padding  .js-podcast-layer-button{
    display:none !important;
}

@media screen and (max-width: 768px){
    .co_local_menu{
        display: initial !important;
        position: initial !important;
        background-color:darkorange !important;
        padding: initial !important;
        border-bottom: initial !important;
        margin-bottom: initial !important;
        z-index: initial !important;
        width: 100% !important;
        float: none !important;
    }
}
.co_local_menu{
    width: 100% !important;
    display: block;
}
.co_local_menu .item{
    width: auto;
    display: inline-block;
}

#co_content_container{
    top:123px;
    width: 100%;
}
