
video {
        width:100% !important; 
        max-height:100vh !important;
}
.container-fluid>.collapse.navbar-collapse{
	display:none !important;
}
.navbar.navbar-inverse.navbar-fixed-top.navbar-app-pages{
	display:none !important;
}
.container.borderd-container{
        padding:0 !important;
}
#bd{
        margin:0 !important;
}
