
video {
        width:100% !important; 
        max-height:100vh !important;
}
.container-fluid>.collapse.navbar-collapse{
	display:none !important;
}
.navbar.navbar-inverse.navbar-fixed-top.navbar-app-pages{
	display:none !important;
}
.container.borderd-container{
        padding:0 !important;
}
#bd{
        margin:0 !important;
}

.row {
        margin-left: 0px !important; 
        margin-right: 0px !important;
}

.col-md-9{
        padding-left: 0px !important; 
        padding-right: 0px !important;  
}