section.widget, .daf-title, [class*="added-to-"], .daf-row.daf-images, #header-topbar-toreplace, script[async], script[src^="https://js"], script[src*="beacon"], .top-ad, .promo-text-holder, #urchin_loggerFrame,.promo-text,  iframe, *[id^="hs-web-interactives"], strong.logo, .header-info, .panel , .daf-subscribe, #footer, #notification-container, noscript, script[charset], img[styl*="display: none;"], .top-ad, .promo-text-holder, #urchin_loggerFrame,.promo-text , iframe, *[id^="hs-web-interactives"], strong.logo, .header-info, .panel , .daf-subscribe, #footer{
    display:none !important;
}

#wrapper>.w1>.container{
    padding-top: 0px !important;
}

.nav1{
    padding-top: 0px!important;
    margin-top: 0px!important;
}

@media only screen and (max-width: 767px){
    .side-nav-holder .sidenav{
        width:100% !important;
        top:0px!important;
        margin-left: 0px!important;
        left: 0px!important;
        background: linear-gradient(rgb(72, 87, 112) 0px, rgb(71, 86, 111) 2%, rgb(87, 106, 135) 40%, rgb(87, 106, 136) 100%)!important;
    }
}
@media only screen and (max-width: 1023px){
    .sidenav{
        width:100% !important;
        top:0px!important;
        margin-left: 0px!important;
        left: 0px!important;
        background: linear-gradient(rgb(72, 87, 112) 0px, rgb(71, 86, 111) 2%, rgb(87, 106, 135) 40%, rgb(87, 106, 136) 100%)!important;
    }
}


.sidenav{
    width:100% !important;
    top:0px!important;
    margin-left: 0px!important;
    left: 0px!important;
    background: linear-gradient(rgb(72, 87, 112) 0px, rgb(71, 86, 111) 2%, rgb(87, 106, 135) 40%, rgb(87, 106, 136) 100%)!important;
}
