
.w-full.font-bold li, .w-full.font-bold span{

    display:inline-block !important;
	width:unset;
}
.w-full.font-bold li{
    margin-right:10px;
}

span.hidden+span.block{
    display:none !important;
}
